.footer {
  background-color: black;
  padding: 30px 0;
  color: white;
}

.logo {
  max-width: 100%;
  height: auto;
  max-height: 60px;
}

.descript {
  font-family: "Pridi", serif !important;
  font-weight: 200 !important;
  font-style: normal !important;
  color: #F6EED7 !important;
  margin-left: 10px !important;
}

.icon {
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  font-size: 24px !important;
}

.icon:global(.MuiSvgIcon-root) {
  &[data-testid="LocalPhoneIcon"] {
    color: green;
  }
  &[data-testid="EmailIcon"] {
    color: red;
  }
  &[data-testid="TelegramIcon"] {
    color: blue;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 20px 0;
  }
  
  .logo {
    max-height: 50px;
    margin-bottom: 20px;
  }
  
  .descript {
    text-align: center;
    margin-left: 0 !important;
    margin-top: 5px !important;
  }
}